.map-controls {
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: grid;
  grid-template-areas:
    ". up ."
    "left zoom-in right"
    ". down ."
    ". zoom-out ."
    ". fullscreen .";
  gap: 8px;
  z-index: 1000;
}

.control-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  /* background: rgb(5, 5, 227); */
  background: linear-gradient(100deg, #3365c1 40%, #5b7ed7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 0.2s ease;
}

.control-btn:hover {
  background: #f0f0f0;
}

.up { grid-area: up; }
.down { grid-area: down; }
.left { grid-area: left; }
.right { grid-area: right; }
.zoom-in { grid-area: zoom-in; }
.zoom-out { grid-area: zoom-out; }
.fullscreen { grid-area: fullscreen; }
